<template>
  <div id="app">
    <el-row class="container">
      <el-col :span="24">
        <el-row>
          <h1>HiGHmed Plugin: AQL</h1>
        </el-row>
        <el-row>
          <el-input v-model="aqlInput"
                    placeholder="AQL Query"></el-input>
          <p class="text-smaller">Example Query:</p>
          <el-input type="textarea"
                    autosize
                    :readonly=true
                    v-model="exampleAQLQuery" />
          <el-button type="primary"
                     @click="executeQuery()"
                     style="margin-top: 20px;">Execute Query</el-button>
        </el-row>
        <el-row>
          <hr>
          <p class="text-smaller"
             style="margin-top: 15px;">Result:</p>
          <pre v-highlightjs="aql.aqlPayload"><code class="xml"></code></pre>
        </el-row>
      </el-col>

    </el-row>

  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'highmedPluginAQL',
  data() {
    return {
      version: '0.0.0',
      aql: 'not executed',
      skipAQLQuery: true,
      aqlQuery: 'about: Test Query',
      aqlInput: '',
      exampleAQLQuery: 'SELECT o/data[at0002]/events[at0003]/time, o/data[at0002]/events[at0003]/data[at0001]/items[at0004]/value FROM EHR e [ehr_id/value=\'6a87b944-6719-412d-a635-3910e37faab2\'] CONTAINS Observation o[openEHR-EHR-OBSERVATION.body_temperature-zn.v1] WHERE o/name/value = \'Body temperature\''
    }
  },
  computed: {

  },
  methods: {
    executeQuery() {
      this.skipAQLQuery = false;
    }
  },
  apollo: {
    version: gql`query {version}`,
    aql: {
      query: gql`query aql($aqlQuery: String!, $resultFormat: ResultFormat) {aql(aqlQuery: $aqlQuery, resultFormat: $resultFormat) {aqlPayload}}`,
      variables() {
        return {
          aqlQuery: this.aqlInput,
          resultFormat: 'JSON'
        }
      },
      result(result) {
        this.skipAQLQuery = true;
      },
      error(error) {
        this.skipAQLQuery = true;

        this.$message({
          message: 'AQL Error: ' + error,
          type: 'error',
          duration: 5000
        });
      },
      skip() {
        return this.skipAQLQuery;
      }
    }
}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#app {
  .container {
    h1 {
      margin-top: 0px !important;
    }
  }
}
</style>
